WAVEFORM_BACKEND_URL=https://backend.waveform.teamofsilicons.com
WAVEFORM_FRONTEND_ORIGIN=http://localhost:4325
WAVEFORM_IAM_AUTH_ORIGIN=https://auth.iam.teamofsilicons.com
WAVEFORM_APP_ID=tos>waveform
PORT=4325
HOST=127.0.0.1
